* {
    box-sizing: border-box;
}

body {
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}

.container {
    display: grid;
    justify-content: center;
    gap: 1px;
}

.pixel {
    aspect-ratio: 1 / 1;
    background-color: #1b1b1b;
}

.controls {
    color: white;
    display: flex;
    flex-direction: column;
    gap: 15px
}